.simple-navbar {
  background-color: #eee;
  padding: 1em;
}

.simple-navbar .tuxedo-menu-trigger {
  font-size: 24px;
  color: #000;
}

.simple-navbar a:hover,
.simple-navbar a:focus {
  text-decoration: none;
}